// Import CSS của Flatpickr (cho Lịch)
@import 'flatpickr/dist/flatpickr.min.css';

// (Tùy chọn) Định nghĩa màu xanh chủ đạo
$primary: #3498db; 

// Import Bootstrap
@import 'bootstrap/scss/bootstrap';

// Code cho nút "Back to Top"
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none; 
  z-index: 99;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

#btn-back-to-top.show {
  display: flex; 
  align-items: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
}
